.body{
    background-color: rgb(73, 69, 69);
}

li h2{
    color: rgb(214, 214, 9);
}

.header{
    background-color: rgb(172, 162, 162);
}

.header div{
    float: right;
}

.header button{
    margin-top: 5px;
    margin-right: 5px;
}

.modal-body{
    display: inline;
    align-content: center;
}

.button-iniciarSesion button{
    align-content: center;
}