.floatR {
    float: right;
    margin-top: 0.5%;
    margin-right: 0.5%;
}

body {
    background-color: gray;
}

nav {
    margin-top: 5px;
    display: flex;
justify-content: space-around;
}


table{
    margin-top: 5px;
}

