<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <!-- NAV  CON MODAL-->

        <div th:fragment="nav" >
            <input id="user" class="text-warning floatR" th:if="${session.usuariosession!=null}" th:text="${session.usuariosession.username}"></input>

            <a class="btn btn-dark floatR" th:href="@{/logout}" >cerrar sesion</a>

            <nav class="navbar navbar-expand-lg navbar-light bg-light  ">
                <div>

                    <div class="collapse navbar-collapse box " id="navbarSupportedContent">
                        <ul class="navbar-nav ">

                            <li class="nav-item ">

                                <ul >
                                    <a class="nav-link text-warning" th:href="@{/inicioPersonal}">TALLEREGG</a>
                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="nuevo" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    NUEVO
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#nuevoCliente">Cliente</a></li>
                                    <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#nuevoVehiculo">Vehiculo</a></li>

                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="nuevo" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    BUSCAR
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#buscarCliente">Cliente</a></li>
                                    <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#buscarVehiculo">Vehiculo</a></li>

                                </ul>
                            </li>


                        </ul>

                    </div>

                </div>
            </nav>
            <!-- Modal NUEVO CLIENTE -->

            <div class="modal fade" id="nuevoCliente" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Nuevo Cliente</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <!-- AGREGAR ACTION y CORROBORAR NOMBRE DE VARIABLES-->
                        <form th:action="@{/usuario/form}" method="POST">
                            <div class="modal-body">

                                <div class="mb-3">
                                    <label for="formGroupExampleInput" class="form-label">Nombre</label>
                                    <input autocomplete="off" class="form-control" id="formGroupExampleInput" placeholder="nombre" name="nombre" th:value="${nombre}" >
                                </div>

                                <div class="mb-3">
                                    <label for="formGroupExampleInput" class="form-label">Apellido</label>
                                    <input autocomplete="off" class="form-control" id="formGroupExampleInput" placeholder="apellido" name="apellido" th:value="${apellido}">
                                </div>

                                <div class="mb-3">
                                    <label for="formGroupExampleInput" class="form-label">DNI</label>
                                    <input autocomplete="off" class="form-control" id="formGroupExampleInput" placeholder="dni" name="username" th:value="${username}">
                                </div>

                                <div class="mb-3">
                                    <label for="formGroupExampleInput" class="form-label">Celular</label>
                                    <input autocomplete="off" class="form-control" id="formGroupExampleInput" placeholder="celular" name="celular" th:value="${celular}">
                                </div>

                                <div class="mb-3">
                                    <label for="formGroupExampleInput" class="form-label">Direccion</label>
                                    <input autocomplete="off" class="form-control" id="formGroupExampleInput" placeholder="direccion" name="direccion" th:value="${direccion}">
                                </div>

                                <div class="mb-3">
                                    <label for="formGroupExampleInput" class="form-label">Password</label>
                                    <input autocomplete="off" class="form-control" id="formGroupExampleInput" placeholder="password" name="password" th:value="${password}"> 
                                </div>

                            </div>

                            <!-- alta es por defecto TRUE y EnumROL por defecto es CLIENTE-->

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Modal NUEVO VEHICULO -->
            <div class="modal fade" id="nuevoVehiculo" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Nuevo Vehiculo</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <!-- AGREGAR ACTION y CORROBORAR NOMBRE DE VARIABLES-->
                        <form th:action="@{/registrarVehiculo}" method="POST" enctype="multipart/form-data">
                            <div class="modal-body">

                                <div class="mb-3">
                                    <label for="formGroupExampleInput" class="form-label">Patente</label>
                                    <input autocomplete="off" class="form-control" id="formGroupExampleInput" placeholder="patente" name="patente" th:value="${patente}">
                                </div>

                                <div class="mb-3">
                                    <label for="formGroupExampleInput" class="form-label">Modelo</label>
                                    <input autocomplete="off" class="form-control" id="formGroupExampleInput" placeholder="modelo" name="modelo" th:value="${modelo}">
                                </div>

                                <div class="mb-3">
                                    <label for="formGroupExampleInput" class="form-label">Marca</label>
                                    <input autocomplete="off" class="form-control" id="formGroupExampleInput" placeholder="marca" name="marca" th:value="${marca}">
                                </div>

                                <div class="mb-3">
                                    <label for="formGroupExampleInput" class="form-label">Año</label>
                                    <input autocomplete="off" class="form-control" id="formGroupExampleInput" placeholder="año" name="anio" th:value="${anio}">
                                </div>

                                <div class="mb-3">
                                    <label for="formGroupExampleInput" class="form-label">Kilometraje</label>
                                    <input autocomplete="off" class="form-control" id="formGroupExampleInput" placeholder="kilometraje" name="km" th:value="${km}">
                                </div>

                                <div class="mb-3">
                                    <label for="formGroupExampleInput" class="form-label">Cliente</label>
                                    <!-- VERIFICAR LISTA EN BACK AGREGARLA EN VEHICULO CONTROLADOR-->
                                    <select class="form-control" name="idUsuario">
                                        <option th:each="usuario: ${usuarios}" th:value="${usuario.id}" th:text="${usuario.nombre}" ></option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label for="formGroupExampleInput" class="form-label">Tarjeta Verde</label>
                                    <input type="file" class="form-control" name="archivo">
                                </div>
                                <!-- alta es por defecto TRUE y EnumEstado por defecto es EN_ESPERA-->
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Modal BUSCAR CLIENTE -->
            <div class="modal fade" id="buscarCliente" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Ingrese nombre</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <!--MODIFICAR EL ACTION y SEARCH-->
                        <form th:action="@{/buscador}" method="POST" class="d-flex">
                            <div class="modal-body">

                                <input class="form-control" type="search" placeholder="nombre" aria-label="Search" name="searchCliente" autocomplete="off">

                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-outline-success" type="submit">Buscar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Modal BUSCAR VEHICULO -->
            <div class="modal fade" id="buscarVehiculo" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Ingrese patente</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <!--MODIFICAR EL ACTION y SEARCH-->
                        <form th:action="@{/buscadorAuto}" method="POST" class="d-flex">
                            <div class="modal-body">

                                <input class="form-control" type="search" placeholder="patente" aria-label="Search" name="searchAuto" autocomplete="off">

                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-outline-success" type="submit">Buscar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <!--  modal presupuesto -->

            <div class="modal fade" id="miModalPresupuesto" tabindex="-1" aria-hidden="true" aria-labelledby="modalTitle">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">

                            <h5 class="modal-title" id="modalTitle">Cargar Presupuesto</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>

                        </div>

                        <div class="modal-body">

                            <form th:action="@{/presupuesto/form}" method="POST">
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">Vehiculo</label>
                                    <select class="form-control" name="idUsuario">
                                        <option th:each="vehiculo: ${vehiculos}" th:value="${vehiculo.id}" th:text="${vehiculo.modelo}" ></option>
                                    </select>

                                    <label for="exampleInputEmail1" class="form-label">Usuario</label>
                                    <select class="form-control" name="idUsuario">
                                        <option th:each="usuario: ${usuarios}" th:value="${usuario.id}" th:text="${usuario.nombre}" ></option>
                                    </select>

                                    <label for="exampleInputEmail1" class="form-label">Detalle</label>
                                    <input type="text" class="form-control" id="exampleInputFalla" name="fallaDescripcion">

                                    <label for="exampleFormControlTextarea1" class="form-label">total</label>
                                    <input type="number" class="form-control" id="exampleInputTotal"sss name="total">

                                </div>

                        </div>

                        <div class="modal-footer">

                            <button type="submit" class="btn btn-primary"> Guardar Presupuesto </button>

                        </div>

                        </form>

                    </div>
                </div>

            </div>


        </div>
    </body>



</html>
